#wha HI
#swfContainer
  %object#jasonlau_dot_biz{classid: "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", codebase: "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10", height: "48", pluginspace: "http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash", type: "application/x-shockwave-flash", width: "300"}
    %param{name: "movie", value: "swf/1.swf"}/
    %embed{codebase: "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10", height: "48", pluginspace: "http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash", src: "swf/1.swf", type: "application/x-shockwave-flash", width: "300"}